

{% extends 'base.html.twig' %}

{% block title %}Achat d'espace supplémentaire{% endblock %}

{% block body %}




<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>


<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>



    <body id="skin-color" class="inter">
	



		<!-- Main Wrapper -->
        <div class="main-wrapper">
		
			<!-- Header -->
            <div class="header" id="heading">
			
				<!-- Logo -->
                <div class="header-left">
                    <a href="" class="logo">
					
					</a>
                </div>
				<!-- /Logo -->
				
				<a id="toggle_btn" href="javascript:void(0);">
					
				</a>
				
				<!-- Header Title -->
                <div class="page-title-box">
					<div class="top-nav-search">
							<a href="javascript:void(0);" class="responsive-search">
								<i class="fa fa-search"></i>
						   </a>
							
						</div>
                </div>
				<!-- /Header Title -->
				
				<a id="mobile_btn" class="mobile_btn" href="#sidebar"><i class="fa fa-bars"></i></a>
				
				<!-- Header Menu -->
				<ul class="nav user-menu">
				
					<!-- Search -->
					{# <li class="nav-item">
						
					</li>
					<!-- /Search -->
				
					<!-- Flag -->
					<li class="nav-item dropdown has-arrow flag-nav">
						<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button">
							<img src="{{asset('img/flags/us.png')}}" alt="" height="20"> <span>English</span>
						</a>
						<div class="dropdown-menu dropdown-menu-right">
							<a href="javascript:void(0);" class="dropdown-item">
								<img src="{{asset('img/flags/us.png')}}" alt="" height="16"> English
							</a>
							<a href="javascript:void(0);" class="dropdown-item">
								<img src="{{asset('img/flags/fr.png')}}" alt="" height="16"> French
							</a>
							<a href="javascript:void(0);" class="dropdown-item">
								<img src="{{asset('img/flags/es.png')}}" alt="" height="16"> Spanish
							</a>
							<a href="javascript:void(0);" class="dropdown-item">
								<img src="{{asset('img/flags/de.png')}}" alt="" height="16"> German
							</a>
						</div>
					</li>
					<!-- /Flag -->
				
					{# <!-- Notifications -->
					<li class="nav-item dropdown">
						<a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
							<i class="fa fa-bell-o"></i> <span class="badge rounded-pill">3</span>
						</a>
						<div class="dropdown-menu notifications">
							<div class="topnav-dropdown-header">
								<span class="notification-title">Notifications</span>
								<a href="javascript:void(0)" class="clear-noti"> Clear All </a>
							</div>
							<div class="noti-content">
								<ul class="notification-list">
									<li class="notification-message">
										<a href="activities.html">
											<div class="media d-flex">
												<span class="avatar flex-shrink-0">
													<img alt="" src="{{asset('img/profiles/avatar-02.jpg')}}">
												</span>
												<div class="media-body flex-grow-1">
													<p class="noti-details"><span class="noti-title">John Doe</span> added new task <span class="noti-title">Patient appointment booking</span></p>
													<p class="noti-time"><span class="notification-time">4 mins ago</span></p>
												</div>
											</div>
										</a>
									</li>
									<li class="notification-message">
										<a href="activities.html">
											<div class="media d-flex">
												<span class="avatar flex-shrink-0">
													<img alt="" src="{{asset('img/profiles/avatar-03.jpg')}}">
												</span>
												<div class="media-body flex-grow-1">
													<p class="noti-details"><span class="noti-title">Tarah Shropshire</span> changed the task name <span class="noti-title">Appointment booking with payment gateway</span></p>
													<p class="noti-time"><span class="notification-time">6 mins ago</span></p>
												</div>
											</div>
										</a>
									</li>
									<li class="notification-message">
										<a href="activities.html">
											<div class="media d-flex">
												<span class="avatar flex-shrink-0">
													<img alt="" src="{{asset('img/profiles/avatar-06.jpg')}}">
												</span>
												<div class="media-body flex-grow-1">
													<p class="noti-details"><span class="noti-title">Misty Tison</span> added <span class="noti-title">Domenic Houston</span> and <span class="noti-title">Claire Mapes</span> to project <span class="noti-title">Doctor available module</span></p>
													<p class="noti-time"><span class="notification-time">8 mins ago</span></p>
												</div>
											</div>
										</a>
									</li>
									<li class="notification-message">
										<a href="activities.html">
											<div class="media d-flex">
												<span class="avatar flex-shrink-0">
													<img alt="" src="{{asset('img/profiles/avatar-17.jpg')}}">
												</span>
												<div class="media-body flex-grow-1">
													<p class="noti-details"><span class="noti-title">Rolland Webber</span> completed task <span class="noti-title">Patient and Doctor video conferencing</span></p>
													<p class="noti-time"><span class="notification-time">12 mins ago</span></p>
												</div>
											</div>
										</a>
									</li>
									<li class="notification-message">
										<a href="activities.html">
											<div class="media d-flex">
												<span class="avatar flex-shrink-0">
													<img alt="" src="{{asset('img/profiles/avatar-13.jpg')}}">
												</span>
												<div class="media-body flex-grow-1">
													<p class="noti-details"><span class="noti-title">Bernardo Galaviz</span> added new task <span class="noti-title">Private chat module</span></p>
													<p class="noti-time"><span class="notification-time">2 days ago</span></p>
												</div>
											</div>
										</a>
									</li>
								</ul>
							</div>
							<div class="topnav-dropdown-footer">
								<a href="activities.html">View all Notifications</a>
							</div>
						</div>
					</li> #}
					<!-- /Notifications -->
					
					{# <!-- Message Notifications -->
					<li class="nav-item dropdown">
						<a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
							<i class="fa fa-comment-o"></i> <span class="badge rounded-pill">8</span>
						</a>
						<div class="dropdown-menu notifications">
							<div class="topnav-dropdown-header">
								<span class="notification-title">Messages</span>
								<a href="javascript:void(0)" class="clear-noti"> Clear All </a>
							</div>
							<div class="noti-content">
								<ul class="notification-list">
									<li class="notification-message">
										<a href="#">
											<div class="list-item">
												<div class="list-left">
													<span class="avatar">
														<img alt="" src="{{asset('img/profiles/avatar-09.jpg')}}">
													</span>
												</div>
												<div class="list-body">
													<span class="message-author">Richard Miles </span>
													<span class="message-time">12:28 AM</span>
													<div class="clearfix"></div>
													<span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
												</div>
											</div>
										</a>
									</li>
									<li class="notification-message">
										<a href="#">
											<div class="list-item">
												<div class="list-left">
													<span class="avatar">
														<img alt="" src="{{asset('img/profiles/avatar-02.jpg')}}">
													</span>
												</div>
												<div class="list-body">
													<span class="message-author">John Doe</span>
													<span class="message-time">6 Mar</span>
													<div class="clearfix"></div>
													<span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
												</div>
											</div>
										</a>
									</li>
									<li class="notification-message">
										<a href="#">
											<div class="list-item">
												<div class="list-left">
													<span class="avatar">
														<img alt="" src="{{asset('img/profiles/avatar-03.jpg')}}">
													</span>
												</div>
												<div class="list-body">
													<span class="message-author"> Tarah Shropshire </span>
													<span class="message-time">5 Mar</span>
													<div class="clearfix"></div>
													<span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
												</div>
											</div>
										</a>
									</li>
									<li class="notification-message">
										<a href="#">
											<div class="list-item">
												<div class="list-left">
													<span class="avatar">
														<img alt="" src="{{asset('img/profiles/avatar-05.jpg')}}">
													</span>
												</div>
												<div class="list-body">
													<span class="message-author">Mike Litorus</span>
													<span class="message-time">3 Mar</span>
													<div class="clearfix"></div>
													<span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
												</div>
											</div>
										</a>
									</li>
									<li class="notification-message">
										<a href="#">
											<div class="list-item">
												<div class="list-left">
													<span class="avatar">
														<img alt="" src="{{asset('img/profiles/avatar-08.jpg')}}">
													</span>
												</div>
												<div class="list-body">
													<span class="message-author"> Catherine Manseau </span>
													<span class="message-time">27 Feb</span>
													<div class="clearfix"></div>
													<span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
												</div>
											</div>
										</a>
									</li>
								</ul>
							</div>
							<div class="topnav-dropdown-footer">
								<a href="#">View all Messages</a>
							</div>
						</div>
					</li>
					<!-- /Message Notifications --> #} 

				{# {% if 'ROLE_ADMIN' in app.user.roles %}
					<li class="nav-item dropdown has-arrow main-drop">
						<a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
							
								<span class="status online"></span>
							</span>
							<span>{{ app.user.nom}} {{ app.user.prenom}}</span>
						</a>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="profile.html">My Profile</a>
							<a class="dropdown-item" href="settings.html">Settings</a>
							<a class="dropdown-item" href="{{ path('user_create') }}">New user</a>
							<a class="dropdown-item" href="{{ path('app_logout') }}">Logout</a>
						</div>
					</li>
				{% elseif 'ROLE_COMMERCIAL' in app.user.roles or 'ROLE_TELEPRO' in app.user.roles %}
				<li class="nav-item dropdown has-arrow main-drop">
				<a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
					
						<span class="status online"></span>
					</span>
				<span>{{ app.user.nom}} {{ app.user.prenom}}</span>
				</a>
				<div class="dropdown-menu">
					<a class="dropdown-item" href="profile.html">My Profile</a>
					<a class="dropdown-item" href="{{ path('app_logout') }}">Logout</a>
				</div>
				</li>

				{% endif %} #}
				</ul>
				<!-- /Header Menu -->
				
				<!-- Mobile Menu -->
				
				<!-- /Mobile Menu -->
				
            </div>
			<!-- /Header -->
			
			<!-- Sidebar -->
            <div class="sidebar" id="sidebar">
                <div class="sidebar-inner slimscroll">
                	<form action="search.html" class="mobile-view">
						<input class="form-control" type="text" placeholder="Search here">
						<button class="btn" type="button"><i class="fa fa-search"></i></button>
					</form>
					<div id="sidebar-menu" class="sidebar-menu">
						<ul>
							<li class="nav-item nav-profile">
				              <a href="#" class="nav-link">
				                <div class="nav-profile-image">
				                  <img src="{{asset('img/profiles/avatar-17.jpg')}}" alt="profile">
				                  
				                </div>
				                <div class="nav-profile-text d-flex flex-column">
                            <span class="font-weight-bold mb-2">{{ app.user.nom }} {{app.user.prenom }}</span>
                            <span class="text-white text-small">
                            {% if 'ROLE_ADMIN' in app.user.roles %}
                                Admin
                            {% elseif 'ROLE_USER' in app.user.roles %}
                                User
                          
                            {% endif %}
                        </span>				                </div>
				                <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
				              </a>
				            </li>
							<li class="menu-title"> 
								<span>Main</span>
							</li>
							
                            
                            {% if 'ROLE_ADMIN' in app.user.roles %}

                            <li class="submenu">
								<a href="#"><i class="feather-home"></i> <span>Admin</span> <span class="menu-arrow"></span></a>
								<ul class="sub-menus">
                                     <li><a href="index.html">MEs ionfs</a></li>
                                     <li><a href="index.html">les clients</a></li>
									<li><a href="index.html">les fichiers des clients</a></li>
									<li><a href="projects-dashboard.html"></a></li>
									<li><a href="">Statistiques</a></li>
								</ul>

								<li>
									<a href="{{ path('app_logout') }}">
										<i class="feather-log-out"></i>Deconnexion
									</a>
								</li>
                               {% else %}
                               <li class="submenu">
                            <a href="#"><i class="feather-home"></i> <span>Profile</span> <span class="menu-arrow"></span></a>
                            <ul class="sub-menus">
                          <li><a href="index.html">Mes infos</a></li>
                                <li><a href="{{path('app_file')}}"> Mes Fichiers</a></li>
                                <li><a href="{{path('app_import_file')}}">Importez des fichiers</a></li>
                                <li><a href="{{path('app_statistique')}}">Statistiques</a></li>
                                <li><a href="{{path('app_achat')}}">Acheter De l'espace</a></li>
                            </ul>
                        </li>

						<li>
							<a href="{{ path('app_logout') }}">
								<i class="feather-log-out"></i>Deconnexion
							</a>
						</li>


                            {% endif %}
                            
							
							
							
							
							
								</ul>
							</li>
						</ul>
					</div>
                </div>
            </div>
            <div class="page-wrapper">


    <div class="content container-fluid">


    <div id="flash-messages">
    {% for type, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ type }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
</div>

                	
					
					<!-- Page Header -->
					
					<!-- /Page Header -->

					<!-- Content Starts -->
					<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
					<link rel="stylesheet" href="/resources/demos/style.css">
					<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
					<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
											 <div class="row">
												<div  class="col-md-12">
													<div class="card mb-0"style="width: 1358px;margin-left: -180px;">
														<div class="card-body">
															<div class="table-responsive">
															
												
    <h1>Achat d'espace supplémentaire</h1>
    
    <p>Le client peut acheter de l’espace supplémentaire pour stocker davantage de fichiers sur notre plateforme.</p>

    <p>Cet achat est proposé à un tarif fixe et avantageux : 20€ pour 20Go de stockage.</p>

    <p>Lors de l’achat d’un espace de stockage supplémentaire, les étapes suivantes seront effectuées :</p>

    <ul>
        <li>Le client recevra un email de confirmation pour lui notifier la réussite de son achat.</li>
        <li>Une nouvelle facture sera automatiquement générée et disponible sur son compte utilisateur.</li>
    </ul>

    <p>Pour procéder à l'achat, veuillez cliquer sur le bouton ci-dessous :</p>
    


    {{ form_start(form) }}
    {{ form_row(form.submit) }}
    {{ form_end(form) }}



			</div>
									</div>
								</div>
							</div>
						</div>
					</div>
                </div>
            </div>
        </div>
{% endblock %}
